# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
backend/help/
backend/vnev/
backend/.pytest_cache/
.pytest_cache/

# Databases
*.db
*.sqlite
*.sqlite3
backend/jansetu.db

# OS / IDE
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/

# Environment Variables
.env
.env.*
!.env.example

# Uploaded Files
backend/uploads/*
!backend/uploads/.gitkeep
